@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&family=Montserrat:ital,wght@0,600;1,300&display=swap');

html {
    background-color: hsl(204, 43%, 93%);
}

.attribution {
    Font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}